@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body {
  background-color: lightgrey;
  margin:0;
  font-family: 'Roboto', sans-serif;
}

.subheading {
  margin-bottom: 0
}

.introduction {
  background-color: azure;
}

.introduction-container {
  margin: 0 15%;
  padding: 5% 0 3%
}

h1 {
  margin:0;
  padding:0;
  line-height:1
}

.skills {
  display:grid;
  grid-template-columns: 25% 25% 25% 25%
}

.section-title {
  
}

/* timeline */

.timeline-container {
  padding:2% 15%
}

.timeline {
  display:grid;
  grid-template-areas: 
  "timeline-dip ."
  "timeline-dip timeline-intern"
  ". timeline-lab"
  "timeline-spec-dip-1 timeline-lab"
  "timeline-spec-dip-1 timeline-semicon"
  "timeline-spec-dip-2 timeline-semicon"
  ". timeline-semicon";
  grid-template-columns: 48% 48%;
  justify-content: space-between;
}

.timeline-job-description .highlight {
  font-weight: 600
}

.timeline-item.dip{
  grid-area: timeline-dip
}

.timeline-item.intern{
  grid-area: timeline-intern
}

.timeline-item.lab{
  grid-area: timeline-lab
}

.timeline-item.spec-dip-1{
  grid-area: timeline-spec-dip-1
}

.timeline-item.semicon{
  grid-area: timeline-semicon
}

.timeline-item.spec-dip-2{
  grid-area: timeline-spec-dip-2
}

.timeline-item {
  margin:5% 0;
  padding:15px;
  border-radius:7px;
  background-color: white;
}

#root {
  background-color: rgb(211, 224, 255);
  padding: 2% 15%;
  display:grid;
}

.categories {
  display:grid;
  grid-template-columns: repeat(3, 30%);
  justify-content: space-between;
}

.card-categories {
  background-color: rgb(255, 255, 255);
  margin: 5% 0;
  border-radius: 10px;
  min-height: 5vh;
  padding: 10%;
  border: 1px solid white;
}

.button:hover{
  background:linear-gradient(1deg, rgb(192, 209, 213), white);
  border: 1px solid #3cb9ca;
  cursor: pointer;
  color:black;
}

.showcase-container {

}

.showcase {
  display:grid;
  grid-template-columns: repeat(3, 30%);
}

embed {
  height: 95%;
  width: 100%
}

dialog {
  position:fixed;
  width: 70vw;
  height: 70vh;
  top: 15%;
  background-color: grey;
}

.button-close-modal {
  position: absolute;
  top:-20px;
  right:-20px;
  background-color:red;
  height:50px;
  width:50px;
  border:none;
  border-radius:50%
}

.button-container {
  position:absolute;
  bottom:10px;
  left:0
}

.website-buttons {
  background-color: red;
  margin: 10px;
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid red
}

img {
  width:100%;
  border-radius: 10px 10px
}

#modal {
  position:fixed;
  left: 50%;
  bottom: 50%;

}

.card-showcase {
  background-color: white;
  margin:5%;
  border: 2px solid white;
  border-radius:10px;
  text-align:center;
}



@media screen and (max-width: 1000px){
  .skills {
    display:block
  }

  .timeline {
    margin: 3% 5%
  }

  .showcase {
    display:block
  }

  .categories {
    display:block
  }

}

@media screen and (max-width: 750px){

  .timeline {
    display:block;
    margin: 3% 10%
  }


}